@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.table-box-main {
  width: 1000px;
  background-color: rgb(215, 224, 235);
  border-radius: 8px 8px 8px 8px;
  padding: 2%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.table-box1,
.table-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-box1 div,
.table-box2 div {
  /* Adjust the styling as needed */
  padding: 20px;
  width: 180px;
  border: 1px solid black;
  font-size: 15px;
  font-family: "MICEGothic Bold";
  text-align: center;
}
.cart-back {
  display: flex;
  margin: 0 auto;
}
.cart-logo {
  font-family: "MICEGothic Bold";
  font-size: 40px;
  width: 100%;
  height: 150px;
  background-color: rgb(208, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.decrease-btn {
  width: 40px;
  padding: 4px;
}
.increase-btn {
  width: 40px;
  padding: 4px;
}
.delete-btn {
  width: 40px;
  padding: 4px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.empty-cart{
  font-size: 30px;
  font-family: "MICEGothic Bold";
  margin: 10%;
}
.cart-img-box{
  border-radius: 20px;
  margin: 2%;
}