@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
.main-box {
  display: flex;
  justify-content: center;
}
.main-bg {
  height: 300px;
  background-size: cover;
  background-position: center;
  left: 10;
}

.puobaotext {
  margin: 0;
  font-size: 80px;
  left: -50px;
  top: 120px;
  position: relative;
}
.puobaotext2 {
  font-size: 20px;
  position: relative;
  left: -100px;
  top: 120px;
}
.main-box2 {
  display: flex;
  justify-content: center;
}
.puobaotext3 {
  font-size: 30px;
  position: relative;
  top: 120px;
  left: 40px;
}
.puobaotext4 {
  font-size: 15px;
  position: relative;
  top: 120px;
  left: 60px;
}
.greenbox {
  width: 300px;
  height: 200px;
  margin: 40px;
  top: 50px;
  background-color: rgb(79, 184, 149);
  position: relative;
  color: aliceblue;
  font-style: normal;
  text-align: start;
  font-size: 10px;
}
.container {
  margin: 10px;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  display: inline-flex;
}
.line {
  border: 2px solid rgb(247, 239, 239);
  /* background-color: rgb(240, 241, 213); */
  width: 290px;
  /* border-radius: 10px 10px 10px 10px; */
  position: relative;
}
.goods-box {
  display: flex;
  justify-content: center;
}
.goods-line {
  font-family: "KBO-Dia-Gothic_bold";
  margin: 2%;
  text-align: center;
  font-size: large;
}
.goods-box-img {
  width: 1300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
